<div class="gs">
      <div class="inner"> 
          <h2 class="text">Vuenos</h2> 
          <h3 class="text">is fuckin trip</h3>
          <h3 class="text">and best chill space</h3> 
      </div>
  </div> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script> 
  <script>
          gsap.to('.text', { 
          duration:1,  
          opacity:1, 
          y:"0px", 
          yoyo:true, 
          repeat:-1,
          stagger: { 
              each:0.5, 
          }
        })   
  </script> 
