  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start"> 
  <div id="info">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">NEWS！</h5>
      <small id="list-body">2020/07/05</small>
    </div>
    <h3 class="mb-1" id="list-body">UVEREARTS始めました！詳細はメニューボタンより確認してください！</h3>
    <small>OWNER: ISHII KENTAROU</small> 
    </div>
  </a> 
  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start"> 
  <div id="info">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">NEWS!</h5>
      <small id="list-body">2020/07/02</small>
    </div>
    <h3 class="mb-1" id="list-body">INSTAGRAMフォロワー１０万人達成いたしました！</h3>
    <small>OWNER: ISHII KENTAROU</small> 
    </div>
  </a> 
  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start"> 
  <div id="info">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">NEWS！</h5>
      <small id="list-body">2020/05/03</small>
    </div>
    <h3 class="mb-1" id="list-body">JAZZセッションイベント開催！</h3>
    <small>OWNER: ISHII KENTAROU</small> 
    </div>　  
  </a> 　 
  
  <div class="list-group"> 
  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start"> 
  <div id="info">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">INFO！</h5>
      <small id="list-body">2020/07/05</small>
    </div>
    <h3 class="mb-1" id="list-body">COVID-19によるクラウドファンディングの内容更新しました！</h3>
    <small>OWNER: ISHII KENTAROU</small> 
    </div>
  </a> 
  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start"> 
  <div id="info">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">INFO！</h5>
      <small id="list-body">2020/06/02</small>
    </div>
    <h3 class="mb-1" id="list-body">緊急自体宣言解除！営業再開いたします！</h3>
    <small>OWNER: ISHII KENTAROU</small> 
    </div>
  </a> 
  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start"> 
  <div id="info">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">INFO！</h5>
      <small id="list-body">2020/05/03</small>
    </div>
    <h3 class="mb-1" id="list-body">営業時間短縮のお知らせです！８時から１９時に変更致します！</h3>
    <small>OWNER: ISHII KENTAROU</small> 
    </div>　  
  </a> 
