<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCentered">
  <div class="fixed-bottom bg-black">
      <div class="inner">
        <a href="/reservations/index" class="text">ご予約の方はこちら</a>
      </div>
  </div>   
</button> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script> 

<script> 
var rand = 1000; 
function timer(){ 
  rand = Math.floor(Math.random() * (2000 - 500) + 500); 
  document.getElementById('glitch').classList.toggle('is-active'); 
  setTimeout(timer, rand); 

}  
timer(); 

</script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script> 
  <script>
          gsap.to('.text', { 
          duration:1,  
          opacity:1, 
          y:"0px", 
          yoyo:true, 
          repeat:-1,
          stagger: { 
              each:0.5, 
          }
        })   
  </script>  


