<div class="jumbotron">
  <h1 class="reservation-title">THANK YOU！RESERVATION！</h1>
  <h2 class="lead">Sorry, This page is under construction！</h2>
  <hr class="my-2">
  <h2 class="phone">Please phone 090-2718-4478！</h2>
  <p class="lead">
    <a class="btn btn-warning btn-lg" href="/" role="button">TOP</a>
  </p>
</div>
