<div class="jumbotron">
  <h2 class="display-1">THANK YOU FOR ENTRY！</h2>
  <h3 class="lead">I will contact you at later date!!</h3>
  <hr class="my-2">
  <p></p>
  <p class="lead">
    <a class="btn btn-warning btn-lg" href="/" role="button">home</a>
  </p>
</div>