.question { 
  color: #fff;
} 

#question_table_striped { 
  color: #fff; 
  font-weight: bold;
} 
#question.table { 
  color: #fff; 
  font-weight: bold;
} 

.form-group { 
  color: #fff;
} 

h1 { 
  color: #fff;
} 
#link { 
  text-align: center;
} 

#button { 
  margin-top: 10px;
} 

.option { 
  color: #fff;
}