#parttime { 
  font-size: 30px;  
  margin-top: 40px; 
  font-weight: bold; 
}   

.part-title { 
  padding: 40px 0;   
  color: #ff8c00;
  
} 

.form-group { 
  padding-bottom: 30px;
}
.custom-select { 
  width: 300px; 
  margin-right: 110px;
}   
.name { 
  margin-right: 30px;
}
.email { 
  margin-right: 23px;
}
#tell { 
  margin-right: 40px;
}  
#age { 
  margin-right: 5px;
}
#pr { 
  margin-right: 55px;
} 
#pr-title { 
  margin-top: 30px;
} 

.display-1 { 
  color: #000;
} 
.lead { 
  color: #000;
}
